{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="breadcrumb-area bg-3 text-center">
    <div class="container">
        <h1>{{ title }}</h1>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="index.html">Product</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>

            </ul>
        </nav>
    </div>
</div>
<!-- Product Details Area Start -->
<div class="product-details-area pt-80 pb-75">
    <div class="container-medium product-container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="single-product-image product-image-slider fix">
                    {% for slide in slide %}
                        <div class="easyzoom easyzoom--overlay">
                            <a href="{{slide.url}}">
                                <img src="{{slide.url}}" alt="{{slide.alt}}">
                            </a>
                            <a href="{{slide.url}}" class="img-popup"><i class="fa fa-search"></i></a>
                        </div>
                    {%endfor%}
                </div>
                <div class="single-product-thumbnail product-thumbnail-slider">
                    {% for slide in slide %}
                        <div class="p-thumb"><img src="{{slide.url}}" alt="{{slide.alt}}"></div>
                    {%endfor%}
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="product-details-text">
                    <h3>{{ title }}</h3>
                    <h4>
					{% if oil_price %}
						<span>{{ oil_price }}</span>
					{% endif %}
                    {{ sell_price|number_format }}</h4>
                    <p><b>{{title}}</b> {{ detail }}</p>
                    <h5><i class="fa fa-check"></i>
					{% if in_stock > 0 %}
						In Stock
					{% else %}
						Out Stock
					{%endif%}
                    </h5>
                    <form action="#" method="post">
                        <div class="add-cart-product">
                            <input id="quantity" type="number" placeholder="1">
                            <button type="button">+ Add to cart</button>
                        </div>
                        <div class="add-product-container">
                            <button type="button"><i class="ion-android-favorite-outline"></i>Add to Wishlist</button>
                            <button type="button"><i class="icon ion-android-options"></i>Add to Compare</button>
                        </div>
                        <div class="product-tag-cat">
                            <div class="single-tag-cat">
                                <span class="p-d-title">Categories:</span>
                                <a href="">{{namcate}}</a>
                            </div>
                            <div class="single-tag-cat">
                                <span class="p-d-title">Tag:</span>
                                <a href="#">women</a>
                            </div>
                        </div>
                        <div class="product-share">
                            <span class="p-d-title">Share this product</span>
                            <ul class="p-social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
<!-- Product Review Tab Area Start -->
<div class="product-review-tab-area">
    <div class="container scroll-area">
        <div class="p-d-tab-container">
            <div class="p-tab-btn">
                <div class="nav" role="tablist">
                    <a class="active" href="#tab1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="tab1">Description</a>
                    <a href="#tab2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab2">Reviews (2)</a>
                </div>
            </div>
            <div class="p-d-tab tab-content">
                <div class="tab-pane active show fade" id="tab1" role="tabpanel">
                    <div class="tab-items">
                        <div class="product-desc-text">
                            <p><b>{{title}}</b> {{detail}}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade scroll-area" id="tab2" role="tabpanel">
                    <div class="tab-items">
                        <div class="p-review-wrapper">
                            <h3>2 reviews for Ornare sed consequat</h3>
                            <div class="single-review-item">
                                <div class="review-logo">
                                    <img src="assets/img/icon/logo.jpg" alt="">
                                </div>
                                <div class="p-review-text">
                                    <div class="rating-number">
                                        <i class="fa fa-star color"></i>
                                        <i class="fa fa-star color"></i>
                                        <i class="fa fa-star color"></i>
                                        <i class="fa fa-star color"></i>
                                        <i class="fa fa-star color"></i>
                                    </div>
                                    <span class="p-review-info"><span>admin</span> – March 23, 2018</span>
                                    <p>Lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi.</p>
                                </div>
                            </div>
                            <div class="single-review-item">
                                <div class="review-logo">
                                    <img src="assets/img/icon/logo.jpg" alt="">
                                </div>
                                <div class="p-review-text">
                                    <div class="rating-number">
                                        <i class="fa fa-star color"></i>
                                        <i class="fa fa-star color"></i>
                                        <i class="fa fa-star color"></i>
                                        <i class="fa fa-star color"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span class="p-review-info"><span>admin</span> – March 23, 2018</span>
                                    <p>Lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi.</p>
                                </div>
                            </div>
                        </div>
                        <form action="#" method="post" class="rating-form">
                            <label>Add a review</label>
                            <h5>your rating</h5>
                            <div class="submit-rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <label for="r-textarea">Your Review</label>
                            <textarea name="review" id="r-textarea" cols="30" rows="10"></textarea>
                            <label for="r-name">Name *</label>
                            <input type="text" placeholder="" id="r-name">
                            <label for="r-email">Email *</label>
                            <input type="email" placeholder="" id="r-email">
                            <button>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Review Tab Area End -->
<!-- Product Area Start -->
<div class="product-area related-product pt-95 pb-100 fix">
    <div class="container">
        <h3 class="subtitle-2">Related products</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="product-carousel owl-carousel carousel-style-one">
                <? foreach ($relate as $val):
                    $oir = number_format($val['oil_price']);?>
                <div class="custom-col">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="shop.html">
                                <?= ($oir) ? "<span class=\"onsale\">Sale!</span>": false?>
                                <img src="<?=$val['images']?>" alt="">
                            </a>
                            <ul class="product-hover">
                                <li>
                                    <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                                </li>
                                <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                    <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-text">
                            <h5><a href="shop.html"><?=$val['name']?></a></h5>
                            <div class="pro-price">
                                <?= ($oir)?"<span class=\"old-price\">$oir</span>": false;?>
                                <span class="new-price"><?=number_format($val['sell_price'])?></span>
                            </div>
                            <div class="cart-btn-wrap">
                                <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <?endforeach;?>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End -->
{% endblock %}
